Errors in test MIBs

With my latest changes (changeset:   566:c3e9bd3c9726) I've found errors in
two of the test MIBs:

  * ADSL-LINE-MIB.mib (line 201) 
  * APPC-MIB.mib (line 117) 

Both of these MIBs implement textual conventions that use another textual
convention as their syntax.  RFC 2579 Section 3.5 states

`The SYNTAX clause, which must be present, defines abstract data structure
corresponding to the textual convention. The data structure must be one of the
alternatives defined in the ObjectSyntax CHOICE or the BITS construct (see
section 7.1 in [2]). Note that this means that the SYNTAX clause of a Textual
Convention can not refer to a previously defined Textual Convention.`

\--  
Wim



**Original Reported Date**: 2010-12-01T20:14:53.793-08:00
**Original CodePlex Discussion Thread ID**: 236805

**Copied from CodePlex without authors**:

Hi Wim,

I think we only need to support all .txt files in the test cases. The .mib
files were found on the Internet, so they are not guaranteed to be correct and
RFC compliant.

Regards,

Lex



**Original Posted Date**: 2010-12-03T05:05:37.31-08:00

**Marked as Answer Date**: 2013-10-06T21:21:42.793-07:00