Error Compiling Nortel RapidCity Mib

I'm working on a program that will access the Nortel ERS 8600 using SNMP.  I
want to use SNMP to read the MAC addresses entries in the Forwarding Data Base
and it looks like I will have to use the private MIB Nortel provides
(rapid_city.mib).  I have verified that the OID is
1.3.6.1.4.1.2272.1.14.18.1.2.

I get this error when I try compiling the MIB using the #SNMP MIB Compiler
([01/01/2010 19:25:20] the initial character must be a letter. Wrong entity,
--excluded in file "C:\Users\wade\Desktop\p80a5111_mibs\mibs\rapid_city.mib".
row: 11590; column: 64).

I also get the following error when I try running my program:

 Lextm.SharpSnmpLib.Mib.SharpMibException was unhandled  
  Message="the initial character must be a letter. Wrong entity, --excluded in
file \"C:\\\Users\\\wade\\\Desktop\\\p80a5111_mibs\\\mibs\\\rapid_city.mib\".
row: 11590; column: 64"  
  Source="SharpSnmpLib.Mib"  
  Details="wrong symbol --excluded in file
\"C:\\\Users\\\wade\\\Desktop\\\p80a5111_mibs\\\mibs\\\rapid_city.mib\". Row
11590. Column: 64"  
  StackTrace:  
       at Lextm.SharpSnmpLib.Mib.ConstructHelper.Validate(Symbol current, Boolean condition, String message) in c:\SharpSNMPlib\sharpsnmplib-32634\SharpSnmpLib\Mib\ConstructHelper.cs:line 88  
       at Lextm.SharpSnmpLib.Mib.ConstructHelper.ValidateIdentifier(Symbol current) in c:\SharpSNMPlib\sharpsnmplib-32634\SharpSnmpLib\Mib\ConstructHelper.cs:line 95  
       at Lextm.SharpSnmpLib.Mib.MibModule.ParseEntity(IList`1 tokens, String module, IList`1 buffer, Lexer lexer, IList`1& next) in c:\SharpSNMPlib\sharpsnmplib-32634\SharpSnmpLib\Mib\MibModule.cs:line 121  
       at Lextm.SharpSnmpLib.Mib.MibModule.ParseEntities(IList`1 tokens, Symbol last, String module, Lexer lexer) in c:\SharpSNMPlib\sharpsnmplib-32634\SharpSnmpLib\Mib\MibModule.cs:line 99  
       at Lextm.SharpSnmpLib.Mib.MibModule..ctor(String name, Lexer lexer) in c:\SharpSNMPlib\sharpsnmplib-32634\SharpSnmpLib\Mib\MibModule.cs:line 70  
       at Lextm.SharpSnmpLib.Mib.MibDocument..ctor(Lexer lexer) in c:\SharpSNMPlib\sharpsnmplib-32634\SharpSnmpLib\Mib\MibDocument.cs:line 29  
       at Lextm.SharpSnmpLib.Mib.Parser.CompileToModules(String file, TextReader stream) in c:\SharpSNMPlib\sharpsnmplib-32634\SharpSnmpLib\Mib\Parser.cs:line 110  
       at Lextm.SharpSnmpLib.Mib.Parser.Compile(String file, TextReader stream) in c:\SharpSNMPlib\sharpsnmplib-32634\SharpSnmpLib\Mib\Parser.cs:line 90  
       at Lextm.SharpSnmpLib.Mib.Parser.Compile(String fileName) in c:\SharpSNMPlib\sharpsnmplib-32634\SharpSnmpLib\Mib\Parser.cs:line 83  
       at MacAttack.MacAttack.Main(String[] args) in C:\Users\wade\Documents\Visual Studio 2008\Projects\MacAttack\MacAttack\MacAttack.cs:line 45  
       at System.AppDomain._nExecuteAssembly(Assembly assembly, String[] args)  
       at Microsoft.VisualStudio.HostingProcess.HostProc.RunUsersAssembly()  
       at System.Threading.ExecutionContext.Run(ExecutionContext executionContext, ContextCallback callback, Object state)  
       at System.Threading.ThreadHelper.ThreadStart()  
  InnerException:



Code Snippet:

  
using System;  
using System.IO;  
using System.Net;  
using System.Collections.Generic;  
using System.Linq;  
using System.Text;  
using Lextm.SharpSnmpLib;  
using Lextm.SharpSnmpLib.Mib;  
using Lextm.SharpSnmpLib.Messaging;

  
namespace MacAttack  
{  
    class MacAttack  
    {  
        static void Main(string[] args)  
        {  
                        //1.3.6.1.4.1.2272.1.14.18.1.2  rcBridgeFDBTable  
                        //1.3.6.1.2.1.4.21  ipRouteTable OID  
                        //8600D 10.128.56.251   public

  
                        string date_today = DateTime.Now.ToString();  
                        string FDB_fileName = "FDB_Table.txt";  
                        string Desktop = (Environment.GetFolderPath(Environment.SpecialFolder.Desktop));  
                        string FDB_file_to_Open = (Desktop + "\\\FDB_Logs" \+ "\\\" \+ FDB_fileName);  
                        int Route_Entry = 0;  
                        string Total;  
                        string ip_node = "10.128.56.251";  
                        string community_String = "public";

                        OctetString Community = new OctetString(community_String);  
                        IPAddress Node_address = IPAddress.Parse(ip_node);  
                        IPEndPoint receiver = new IPEndPoint(Node_address, 161);

                        StreamWriter writer = new StreamWriter(FDB_file_to_Open);

                        Console.WriteLine("Reading FDB Table Entries, please be patient...");



                        // this is the private MIB

                        string snmpv2CustomMibFilename = (Desktop + "\\\p80a5111_mibs\\\mibs\\\rapid_city.mib");  
                        IList<IModule> customMibModule = Parser.Compile(snmpv2CustomMibFilename);  
                        DefaultObjectRegistry.Instance.Import(customMibModule);  
                        DefaultObjectRegistry.Instance.Refresh();

                        try  
                        {  
                            Variable[,] table = Messenger.GetTable(VersionCode.V1, receiver, Community,  
                                new ObjectIdentifier(new uint[] { 1, 3, 6, 1, 4, 1, 2272, 1, 14, 18, 1, 2 }), 5000, 10, DefaultObjectRegistry.Instance);

  
  

                            writer.WriteLine("FDB table");  
                              
                            for (int row = 0; row <= table.GetUpperBound(0); row++)  
                            {  
                                Route_Entry++;  
                                for (int col = 0; col < table.GetUpperBound(1); col++)  
                                {

                                    writer.Write(table[row, col].Data + ", ");  
                                }  
                                writer.WriteLine();  
                            }

  
                            writer.Close();  
                        }  
                        catch (SharpSnmpException ex)  
                        {  
                            if (ex is SharpOperationException)  
                            {  
                                Console.WriteLine((ex as SharpOperationException).Details);  
                            }  
                            else  
                            {  
                                Console.WriteLine(ex);  
                            }  
                        }

  
                        Total = Convert.ToString(Route_Entry);

  
                        Console.WriteLine("The FDB Table has " \+ Total + " entries");    
                        Console.WriteLine("Press any key to exit...");  
                        Console.Read();  
                    }





  
        }  
    }



**Original Reported Date**: 2010-01-01T18:34:24.293-08:00
**Original CodePlex Discussion Thread ID**: 79530

**Copied from CodePlex without authors**:

I have found the error was generated because I was missing some dependencies.
I now have the MIBs compiled using #SNMP MIB Compiler and can browse the MIBs
using #SNMP MIB Browser.

I assume I can import the modules created by #SNMP MIB Compiler?

Can someone provide a code snippet example to show how to load all the
compiled MIB modules in a folder.  My C# experience is limited so please
accept my apologies for the beginner level questions.





**Original Posted Date**: 2010-01-03T17:27:09.157-08:00

**Copied from CodePlex without authors**:

I have made some more progress.  I have loaded the compiled MIBs and I can see
the SNMP requests and responses being exchanged with the ERS 8600 using
Wireshark.  None of the SNMP GetTable responses are being loaded into the
table.  Any ideas on how to proceed will be appreciated.

My new source code is below:



using System;  
using System.IO;  
using System.Net;  
using Lextm.SharpSnmpLib;  
using Lextm.SharpSnmpLib.Mib;  
using Lextm.SharpSnmpLib.Messaging;

namespace SNMP_Custom_Mib  
{  
    class SNMP_Custom_Mib  
    {



        static void Main(string[] args)  
        {

            //1.3.6.1.4.1.2272.1.14.18.1.2  rcBridgeFDBTable  
            //1.3.6.1.2.1.4.21  ipRouteTable OID  
            //8600D 10.128.56.251   public  
            //8600C 192.168.128.252 public  
            //8600A 10.128.56.252   Sw!tchRe*d0n1y

            string date_today = DateTime.Now.ToString();  
            string FDB_fileName = "FDB_Table.txt";  
            string Desktop = (Environment.GetFolderPath(Environment.SpecialFolder.Desktop));  
            string FDB_file_to_Open = (Desktop + "\\\FDB_Logs" \+ "\\\" \+ FDB_fileName);  
            int Route_Entry = 0;  
            string Total;  
            string ip_node = "10.128.56.251";  
            string community_String = "public";  
            string Folder1 = "c:\\\mib\\\modules";



            OctetString Community = new OctetString(community_String);  
            IPAddress Node_address = IPAddress.Parse(ip_node);  
            IPEndPoint receiver = new IPEndPoint(Node_address, 161);

            StreamWriter writer = new StreamWriter(FDB_file_to_Open);

            Console.WriteLine("Reading FDB Table Entries, please be patient...");



            ReloadableObjectRegistry MIB_Load = new ReloadableObjectRegistry(Folder1);

            MIB_Load.Refresh();

            try  
            {

                Variable[,] table = Messenger.GetTable(VersionCode.V1, receiver, Community,  
                    new ObjectIdentifier(new uint[] { 1, 3, 6, 1, 4, 1, 2272, 1, 14, 18, 1, 2 }), 5000, 10, MIB_Load);



  
                writer.WriteLine("FDB table");

                for (int row = 0; row <= table.GetUpperBound(0); row++)  
                {  
                    Route_Entry++;  
                    for (int col = 0; col < table.GetUpperBound(1); col++)  
                    {

                        writer.Write(table[row, col].Data + ", ");  
                    }  
                    writer.WriteLine();  
                }

  
                writer.Close();  
            }  
            catch (SharpSnmpException ex)  
            {  
                if (ex is SharpOperationException)  
                {  
                    Console.WriteLine((ex as SharpOperationException).Details);  
                }  
                else  
                {  
                    Console.WriteLine(ex);  
                }  
            }

  
            Total = Convert.ToString(Route_Entry);

  
            Console.WriteLine("The FDB Table has " \+ Total + " entries");  
            Console.WriteLine("Press any key to exit...");  
            Console.Read();  
        }



    }  
}

  




**Original Posted Date**: 2010-01-04T19:13:23.14-08:00

**Copied from CodePlex without authors**:

Hello wds,

your code seems correct. What do you mean when you say Table responses are not
loaded? Do you get some exception?

From what I see, you can try some changes:

\- try to use VersionCode.V2, instead of V1. #SNMP uses different approaches
in getting table data, based on SNMP version (remember SNMP protocol doesn't
implement a real GetTable command).

\- have a check at your rcBridgeFDBTable OID. Having a look at
http://www.oidview.com/mibs/2272/RAPID-CITY.html, rcBridgeFdbTable OID seems
1.3.6.1.4.1.2272.1.14.1, not 1.3.6.1.4.1.2272.1.14.18.1.2 you're using.

You can also try your code to get ipRouteTable table (the other one declared
in your code), to see if code is working correctly and it's a device problem
related to that particular table.

Lastly try to double check device operations using another MIB browser. My
preferred one is iReasoning MIB Browser Personal
(http://www.ireasoning.com/mibbrowser.shtml), where you can load your custom
MIB and have a quick walk at your device.



Hope this helps,

Andrea



**Original Posted Date**: 2010-01-04T23:52:06.527-08:00

**Copied from CodePlex without authors**:

The problem is the OID I'm using.  I'm going to walk the MIB today to see if I
can find the OID that works.



**Original Posted Date**: 2010-01-08T06:03:39.52-08:00

**Copied from CodePlex without authors**:

I now have the OID in need to use to get the FDB Table.  The OID is
1.3.6.1.4.1.2272.1.14.18 which I verified using the iReason MIB Browser.

I'm still having problems compiling the RapidCity MIB.  I need to compile
RFC1212, RFC1213-MIB, RFC1158-MIB as dependencies for the RapidCity Mib.  I
have the problem of each dependency being dependent on the other and get the
error listed below.  I get this regardless of the order in which I try to
compile these dependencies.

Any ideas on how I fix this problem?

[01/17/2010 09:19:37] SNMPV2-TC is parsed

[01/17/2010 09:19:37] SNMPV2-TM is parsed

[01/17/2010 09:19:37] SNMPV2-CONF is parsed

[01/17/2010 09:19:37] SNMPV2-MIB is parsed

[01/17/2010 09:19:37] RFC1158-MIB is pending. Missing dependencies:
RFC1213-MIB

[01/17/2010 09:19:37] RFC-1212 is pending. Missing dependencies: RFC1158-MIB

[01/17/2010 09:19:37] RFC1213-MIB is pending. Missing dependencies: RFC-1212

[01/17/2010 09:19:37] loading modules ended







**Original Posted Date**: 2010-01-17T09:13:10.083-08:00

**Copied from CodePlex without authors**:

Well, maybe you can modify the three files and break this dependency loop.
Actually the dependency does not matter much once compiled, so it is OK to
make some changes.

Regards,

Lex



**Original Posted Date**: 2010-01-18T03:16:43.753-08:00

**Copied from CodePlex without authors**:

I got around the problem by finding another version of the RFC1212 mib.  I
also had to edit the RapidCity mib and remove some comment lines from the mib
to get it to compile.

I can now compile the RapidCity mib and all of it's dependencies and I can use
the Mib Browser to send a SNMP GetTable to my 8600 switch and I get the FDB
table being returned to the MIB Browser.



Below is the output from the Mib Browse Output window:



[] [1/20/2010 6:30:25 PM] 83 module files found  
[] [1/20/2010 6:30:26 PM] loading modules started  
[] [1/20/2010 6:30:26 PM] 6-ms used to assemble RFC1155-SMI  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RFC1213-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble S5-TCS-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble SNMPV2-SMI  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble SNMPV2-TC  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble SNMPV2-TM  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble TRIPLE-DES-CONSORTIUM-MIB  
[] [1/20/2010 6:30:26 PM] 76 pending after 16-ms  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble ATM-TC-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble DIFFSERV-DSCP-TC  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble DIFFSERV-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IANA-ADDRESS-FAMILY-NUMBERS-
MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IANA-RTPROTO-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IANAIFTYPE-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble INET-ADDRESS-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IPV6-FLOW-LABEL-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IPV6-TC  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble MPLS-TC-STD-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RFC1158-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble SNMPV2-CONF  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble SNMPV2-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble TCP-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble UDP-MIB  
[] [1/20/2010 6:30:26 PM] 61 pending after 34-ms  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble DVMRP-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IF-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IGMP-STD-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble INTEGRATED-SERVICES-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IP-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IPV6-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IPV6-MLD-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IPV6-TCP-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IPV6-UDP-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble MPLS-LSR-STD-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble MSDP-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RFC-1212  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RIPV2-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble SNMP-FRAMEWORK-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble SNMP-MPD-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble SNMP-TARGET-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble SNMP-USER-BASED-SM-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble SNMP-USM-AES-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble SNMP-VIEW-BASED-ACM-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble TUNNEL-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble VRRP-MIB  
[] [1/20/2010 6:30:26 PM] 40 pending after 88-ms  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble DISMAN-NSLOOKUP-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble DISMAN-PING-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble DISMAN-TRACEROUTE-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble ENTITY-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IEEE8021-PAE-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IEEE8023-LAG-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IP-FORWARD-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IPMROUTE-STD-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble IPV6-ICMP-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble MPLS-LDP-STD-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble MPLS-TE-STD-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble PIM-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble POWER-ETHERNET-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RADIUS-DYNAUTH-SERVER-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RAPID-CITY  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-2K-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-2K-QOS-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-ARP-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-BFD-TMP-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-DIAG-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-ERROR-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-IPFIX-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-ISIS-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-MLT-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-OPM-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-PIM-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-POM-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-POS-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-RADIUS-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-SLPP-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-TACACS-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-TLS-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-VRF-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble SNMP-COMMUNITY-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble SNMP-NOTIFICATION-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble SNMP-PROXY-MIB  
[] [1/20/2010 6:30:26 PM] 4 pending after 135-ms  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RAPID-CITY-BAY-STACK  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-2K-ATM-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-PORT-MIB  
[] [1/20/2010 6:30:26 PM] 0-ms used to assemble RC-VLAN-MIB  
[] [1/20/2010 6:30:26 PM] 0 pending after 142-ms  
[] [1/20/2010 6:30:26 PM] RFC1155-SMI is parsed  
[] [1/20/2010 6:30:26 PM] RFC1213-MIB is parsed  
[] [1/20/2010 6:30:26 PM] S5-TCS-MIB is parsed  
[] [1/20/2010 6:30:26 PM] SNMPV2-SMI is parsed  
[] [1/20/2010 6:30:26 PM] SNMPV2-TC is parsed  
[] [1/20/2010 6:30:26 PM] SNMPV2-TM is parsed  
[] [1/20/2010 6:30:26 PM] TRIPLE-DES-CONSORTIUM-MIB is parsed  
[] [1/20/2010 6:30:26 PM] ATM-TC-MIB is parsed  
[] [1/20/2010 6:30:26 PM] DIFFSERV-DSCP-TC is parsed  
[] [1/20/2010 6:30:26 PM] DIFFSERV-MIB is parsed  
[] [1/20/2010 6:30:26 PM] IANA-ADDRESS-FAMILY-NUMBERS-MIB is parsed  
[] [1/20/2010 6:30:26 PM] IANA-RTPROTO-MIB is parsed  
[] [1/20/2010 6:30:26 PM] IANAIFTYPE-MIB is parsed  
[] [1/20/2010 6:30:26 PM] INET-ADDRESS-MIB is parsed  
[] [1/20/2010 6:30:26 PM] IPV6-FLOW-LABEL-MIB is parsed  
[] [1/20/2010 6:30:26 PM] IPV6-TC is parsed  
[] [1/20/2010 6:30:26 PM] MPLS-TC-STD-MIB is parsed  
[] [1/20/2010 6:30:26 PM] RFC1158-MIB is parsed  
[] [1/20/2010 6:30:26 PM] SNMPV2-CONF is parsed  
[] [1/20/2010 6:30:26 PM] SNMPV2-MIB is parsed  
[] [1/20/2010 6:30:26 PM] TCP-MIB is parsed  
[] [1/20/2010 6:30:26 PM] UDP-MIB is parsed  
[] [1/20/2010 6:30:26 PM] DVMRP-MIB is parsed  
[] [1/20/2010 6:30:26 PM] IF-MIB is parsed  
[] [1/20/2010 6:30:26 PM] IGMP-STD-MIB is parsed  
[] [1/20/2010 6:30:26 PM] INTEGRATED-SERVICES-MIB is parsed  
[] [1/20/2010 6:30:26 PM] IP-MIB is parsed  
[] [1/20/2010 6:30:26 PM] IPV6-MIB is parsed  
[] [1/20/2010 6:30:26 PM] IPV6-MLD-MIB is parsed  
[] [1/20/2010 6:30:26 PM] IPV6-TCP-MIB is parsed  
[] [1/20/2010 6:30:26 PM] IPV6-UDP-MIB is parsed  
[] [1/20/2010 6:30:26 PM] MPLS-LSR-STD-MIB is parsed  
[] [1/20/2010 6:30:26 PM] MSDP-MIB is parsed  
[] [1/20/2010 6:30:26 PM] RFC-1212 is parsed  
[] [1/20/2010 6:30:26 PM] RIPV2-MIB is parsed  
[] [1/20/2010 6:30:26 PM] SNMP-FRAMEWORK-MIB is parsed  
[] [1/20/2010 6:30:26 PM] SNMP-MPD-MIB is parsed  
[] [1/20/2010 6:30:26 PM] SNMP-TARGET-MIB is parsed  
[] [1/20/2010 6:30:26 PM] SNMP-USER-BASED-SM-MIB is parsed  
[] [1/20/2010 6:30:26 PM] SNMP-USM-AES-MIB is parsed  
[] [1/20/2010 6:30:26 PM] SNMP-VIEW-BASED-ACM-MIB is parsed  
[] [1/20/2010 6:30:26 PM] TUNNEL-MIB is parsed  
[] [1/20/2010 6:30:26 PM] VRRP-MIB is parsed  
[] [1/20/2010 6:30:26 PM] DISMAN-NSLOOKUP-MIB is parsed  
[] [1/20/2010 6:30:26 PM] DISMAN-PING-MIB is parsed  
[] [1/20/2010 6:30:26 PM] DISMAN-TRACEROUTE-MIB is parsed  
[] [1/20/2010 6:30:26 PM] ENTITY-MIB is parsed  
[] [1/20/2010 6:30:27 PM] IEEE8021-PAE-MIB is parsed  
[] [1/20/2010 6:30:27 PM] IEEE8023-LAG-MIB is parsed  
[] [1/20/2010 6:30:27 PM] IP-FORWARD-MIB is parsed  
[] [1/20/2010 6:30:27 PM] IPMROUTE-STD-MIB is parsed  
[] [1/20/2010 6:30:27 PM] IPV6-ICMP-MIB is parsed  
[] [1/20/2010 6:30:27 PM] MPLS-LDP-STD-MIB is parsed  
[] [1/20/2010 6:30:27 PM] MPLS-TE-STD-MIB is parsed  
[] [1/20/2010 6:30:27 PM] PIM-MIB is parsed  
[] [1/20/2010 6:30:27 PM] POWER-ETHERNET-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RADIUS-DYNAUTH-SERVER-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RAPID-CITY is parsed  
[] [1/20/2010 6:30:27 PM] RC-2K-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-2K-QOS-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-ARP-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-BFD-TMP-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-DIAG-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-ERROR-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-IPFIX-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-ISIS-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-MLT-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-OPM-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-PIM-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-POM-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-POS-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-RADIUS-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-SLPP-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-TACACS-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-TLS-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-VRF-MIB is parsed  
[] [1/20/2010 6:30:27 PM] SNMP-COMMUNITY-MIB is parsed  
[] [1/20/2010 6:30:27 PM] SNMP-NOTIFICATION-MIB is parsed  
[] [1/20/2010 6:30:27 PM] SNMP-PROXY-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RAPID-CITY-BAY-STACK is parsed  
[] [1/20/2010 6:30:27 PM] RC-2K-ATM-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-PORT-MIB is parsed  
[] [1/20/2010 6:30:27 PM] RC-VLAN-MIB is parsed  
[] [1/20/2010 6:30:27 PM] loading modules ended

To access the FDB Table I use OID 1.3.6.1.4.1.2272.1.14.18 which is defined in
rapidCity.rcMgmt.rcBridge.

Should I see rcBridge being parsed?  Near as I can tell, my program still
isn't able to parse the table being returned from the 8600.

When I debug the program I see that I have loaded 83 modules from my mib
modules folder.

This is a list of the variables with a debug break at the this line:
MIB_Load.Refresh();

args {string[0]} string[]  
  Return_table null Lextm.SharpSnmpLib.Variable[,]  
  date_today "1/20/2010 8:04:45 PM" string  
  FDB_fileName "FDB_Table.txt" string  
  Desktop "C:\\\Users\\\wdcrick\\\Desktop" string  
  FDB_file_to_Open "C:\\\Users\\\wdcrick\\\Desktop\\\FDB_Logs\\\FDB_Table.txt"
string  
  Route_Entry 0 int  
  Total null string  
  ip_node "10.128.56.251" string  
  community_String "public" string  
  Folder1 "c:\\\mib\\\modules" string  
+  Community {public} Lextm.SharpSnmpLib.OctetString  
+  Node_address {10.128.56.251} System.Net.IPAddress  
+  receiver {10.128.56.251:161} System.Net.IPEndPoint  
+  writer {System.IO.StreamWriter} System.IO.StreamWriter  
-  MIB_Load {Lextm.SharpSnmpLib.Mib.ReloadableObjectRegistry} Lextm.SharpSnmpLib.Mib.ReloadableObjectRegistry  
-  base {Lextm.SharpSnmpLib.Mib.ReloadableObjectRegistry} Lextm.SharpSnmpLib.Mib.ObjectRegistryBase {Lextm.SharpSnmpLib.Mib.ReloadableObjectRegistry}  
+  _tree {Lextm.SharpSnmpLib.Mib.ObjectTree} Lextm.SharpSnmpLib.Mib.IObjectTree {Lextm.SharpSnmpLib.Mib.ObjectTree}  
  OnChanged null System.EventHandler<System.EventArgs>  
-  Tree {Lextm.SharpSnmpLib.Mib.ObjectTree} Lextm.SharpSnmpLib.Mib.IObjectTree {Lextm.SharpSnmpLib.Mib.ObjectTree}  
+  [Lextm.SharpSnmpLib.Mib.ObjectTree] {Lextm.SharpSnmpLib.Mib.ObjectTree} Lextm.SharpSnmpLib.Mib.ObjectTree  
-  LoadedModules Count = 83 System.Collections.Generic.ICollection<string> {System.Collections.Generic.Dictionary<string,Lextm.SharpSnmpLib.Mib.MibModule>.KeyCollection}  
  [0] "RFC1155-SMI" string  
  [1] "RFC1213-MIB" string  
  [2] "S5-TCS-MIB" string  
  [3] "SNMPV2-SMI" string  
  [4] "SNMPV2-TC" string  
  [5] "SNMPV2-TM" string  
  [6] "TRIPLE-DES-CONSORTIUM-MIB" string  
  [7] "ATM-TC-MIB" string  
  [8] "DIFFSERV-DSCP-TC" string  
  [9] "DIFFSERV-MIB" string  
  [10] "IANA-ADDRESS-FAMILY-NUMBERS-MIB" string  
  [11] "IANA-RTPROTO-MIB" string  
  [12] "IANAIFTYPE-MIB" string  
  [13] "INET-ADDRESS-MIB" string  
  [14] "IPV6-FLOW-LABEL-MIB" string  
  [15] "IPV6-TC" string  
  [16] "MPLS-TC-STD-MIB" string  
  [17] "RFC1158-MIB" string  
  [18] "SNMPV2-CONF" string  
  [19] "SNMPV2-MIB" string  
  [20] "TCP-MIB" string  
  [21] "UDP-MIB" string  
  [22] "DVMRP-MIB" string  
  [23] "IF-MIB" string  
  [24] "IGMP-STD-MIB" string  
  [25] "INTEGRATED-SERVICES-MIB" string  
  [26] "IP-MIB" string  
  [27] "IPV6-MIB" string  
  [28] "IPV6-MLD-MIB" string  
  [29] "IPV6-TCP-MIB" string  
  [30] "IPV6-UDP-MIB" string  
  [31] "MPLS-LSR-STD-MIB" string  
  [32] "MSDP-MIB" string  
  [33] "RFC-1212" string  
  [34] "RIPV2-MIB" string  
  [35] "SNMP-FRAMEWORK-MIB" string  
  [36] "SNMP-MPD-MIB" string  
  [37] "SNMP-TARGET-MIB" string  
  [38] "SNMP-USER-BASED-SM-MIB" string  
  [39] "SNMP-USM-AES-MIB" string  
  [40] "SNMP-VIEW-BASED-ACM-MIB" string  
  [41] "TUNNEL-MIB" string  
  [42] "VRRP-MIB" string  
  [43] "DISMAN-NSLOOKUP-MIB" string  
  [44] "DISMAN-PING-MIB" string  
  [45] "DISMAN-TRACEROUTE-MIB" string  
  [46] "ENTITY-MIB" string  
  [47] "IEEE8021-PAE-MIB" string  
  [48] "IEEE8023-LAG-MIB" string  
  [49] "IP-FORWARD-MIB" string  
  [50] "IPMROUTE-STD-MIB" string  
  [51] "IPV6-ICMP-MIB" string  
  [52] "MPLS-LDP-STD-MIB" string  
  [53] "MPLS-TE-STD-MIB" string  
  [54] "PIM-MIB" string  
  [55] "POWER-ETHERNET-MIB" string  
  [56] "RADIUS-DYNAUTH-SERVER-MIB" string  
  [57] "RAPID-CITY" string  
  [58] "RC-2K-MIB" string  
  [59] "RC-2K-QOS-MIB" string  
  [60] "RC-ARP-MIB" string  
  [61] "RC-BFD-TMP-MIB" string  
  [62] "RC-DIAG-MIB" string  
  [63] "RC-ERROR-MIB" string  
  [64] "RC-IPFIX-MIB" string  
  [65] "RC-ISIS-MIB" string  
  [66] "RC-MLT-MIB" string  
  [67] "RC-OPM-MIB" string  
  [68] "RC-PIM-MIB" string  
  [69] "RC-POM-MIB" string  
  [70] "RC-POS-MIB" string  
  [71] "RC-RADIUS-MIB" string  
  [72] "RC-SLPP-MIB" string  
  [73] "RC-TACACS-MIB" string  
  [74] "RC-TLS-MIB" string  
  [75] "RC-VRF-MIB" string  
  [76] "SNMP-COMMUNITY-MIB" string  
  [77] "SNMP-NOTIFICATION-MIB" string  
  [78] "SNMP-PROXY-MIB" string  
  [79] "RAPID-CITY-BAY-STACK" string  
  [80] "RC-2K-ATM-MIB" string  
  [81] "RC-PORT-MIB" string  
  [82] "RC-VLAN-MIB" string  
+  Raw View    
+  PendingModules Count = 0 System.Collections.Generic.ICollection<string> {System.Collections.Generic.Dictionary<string,Lextm.SharpSnmpLib.Mib.MibModule>.KeyCollection}  
+  Root {Lextm.SharpSnmpLib.Mib.Definition} Lextm.SharpSnmpLib.Mib.IDefinition {Lextm.SharpSnmpLib.Mib.Definition}  
  _path "c:\\\mib\\\modules" string  
  Path "c:\\\mib\\\modules" string  

This is the list of the variables with a debug breakpoint at: Variable[,]
Return_table = Messenger.GetTable(VersionCode.V2, receiver, Community,new
ObjectIdentifier(new uint[] { 1, 3, 6, 4, 1, 2272, 1, 14, 18 }), 5000, 10,
MIB_Load);

version V2 Lextm.SharpSnmpLib.VersionCode  
+  endpoint {10.128.56.251:161} System.Net.IPEndPoint  
+  community {public} Lextm.SharpSnmpLib.OctetString  
-  table {.1.3.6.4.1.2272.1.14.18} Lextm.SharpSnmpLib.ObjectIdentifier  
  _hashcode 0 int  
-  _oid {uint[9]} uint[]  
  [0] 1 uint  
  [1] 3 uint  
  [2] 6 uint  
  [3] 4 uint  
  [4] 1 uint  
  [5] 2272 uint  
  [6] 1 uint  
  [7] 14 uint  
  [8] 18 uint  
  TypeCode ObjectIdentifier Lextm.SharpSnmpLib.SnmpType  
-  list Count = 0 System.Collections.Generic.IList<Lextm.SharpSnmpLib.Variable> {System.Collections.Generic.List<Lextm.SharpSnmpLib.Variable>}  
+  Raw View    
  timeout 5000 int  
  maxRepetitions 10 int  
  mode WithinSubtree Lextm.SharpSnmpLib.Messaging.WalkMode  
-  tableV {Variable: Id: .1.3.6.4.1.2272.1.14.18; Data: Null} Lextm.SharpSnmpLib.Variable  
+  _data {Null} Lextm.SharpSnmpLib.ISnmpData {Lextm.SharpSnmpLib.Null}  
+  _oid {.1.3.6.4.1.2272.1.14.18} Lextm.SharpSnmpLib.ObjectIdentifier  
+  Data {Null} Lextm.SharpSnmpLib.ISnmpData {Lextm.SharpSnmpLib.Null}  
+  Id {.1.3.6.4.1.2272.1.14.18} Lextm.SharpSnmpLib.ObjectIdentifier  
  seed null Lextm.SharpSnmpLib.Variable  
  next null System.Collections.Generic.IList<Lextm.SharpSnmpLib.Variable>  
  result 0 int  

Any ideas on how to proceed will be appreciated.



**Original Posted Date**: 2010-01-20T19:38:50.187-08:00

**Copied from CodePlex without authors**:

Hi,

You'd better do a WALK first to see how this table holds the rows and columns.
#SNMP MIB Browser does not support all table scenarios yet.

We have a few issues open here,
<http://sharpsnmplib.codeplex.com/WorkItem/List.aspx> and no solution is
available at this moment.

Regards,

Lex



**Original Posted Date**: 2010-01-21T02:08:23.703-08:00

**Copied from CodePlex without authors**:

Thanks for sharing the WALK result.

We can see that in fact this is a table with multiple indices. Sadly #SNMP
does not yet support such tables,

<http://sharpsnmplib.codeplex.com/WorkItem/View.aspx?WorkItemId=3231>

Therefore, you need to manually build up a table from the WALK result.

Regards,

Lex



**Original Posted Date**: 2010-01-21T18:01:02.703-08:00

**Copied from CodePlex without authors**:

Hi Lex,

I think I have a choice of Walk or GetBulk.  The FDB Table typically has 1500
rows that I need to retrieve so I'm thinking GetBulk would be the better
choice.  The switch supports SNMP V2 so I do have GetBulk available.

Any ideas or suggestions on which one I should use?

Regards,

WDC



**Original Posted Date**: 2010-01-22T06:05:30.527-08:00

**Copied from CodePlex without authors**:

Well,

Messenger class has both Walk based on GET NEXT and BulkWalk based on GET
BULK. You can use either one.

Regards,

Lex



**Original Posted Date**: 2010-01-22T18:21:51.89-08:00

**Marked as Answer Date**: 2013-10-06T20:57:04.857-07:00