RFC1212

I get an OutOfMemory exception when trying to compile RFC1212 - I read
elsewhere that there was an issue with compiling blank MIBs - is this related
to the issue I have loading RFC1212?

I would like to load this to monitor some Dell server information via Dell's
own MIBs - so far I can get this working using another browser which loads
RFC1212 fine, but I want to programatically load them, not use a GUI app, and
access SNMP data via my Windows service.

At the moment, my Dell modules sit in the Pending area of the
DefaultObjectRegistry... which is a :(

Any ideas if I can modify RFC1212 for this implementation which won't
adversely affect any other MIBs and will allow it to load?

Thanks,

Charles



**Original Reported Date**: 2010-01-19T07:21:10.63-08:00
**Original CodePlex Discussion Thread ID**: 81299

**Copied from CodePlex without authors**:

Hi Charles,

There are in fact many versions of RFC1212. Maybe the version you use has
something wrong. I have a version that works in #SNMP source code package in
Tests/Resources folder. Its content is like this,



    
    
    RFC-1212 DEFINITIONS ::= BEGIN
    
             IMPORTS
                 ObjectName
                     FROM RFC1155-SMI;
    --            DisplayString
    --                FROM RFC1158-MIB;
    
             OBJECT-TYPE MACRO ::=
             BEGIN
                 TYPE NOTATION ::=
                                             -- must conform to
                                             -- RFC1155's ObjectSyntax
                                   "SYNTAX" type(ObjectSyntax)
                                   "ACCESS" Access
                                   "STATUS" Status
                                   DescrPart
                                   ReferPart
                                   IndexPart
                                   DefValPart
                 VALUE NOTATION ::= value (VALUE ObjectName)
    
                 Access ::= "read-only"
                                 | "read-write"
                                 | "write-only"
                                 | "not-accessible"
                 Status ::= "mandatory"
                                 | "optional"
                                 | "obsolete"
                                 | "deprecated"
    
                 DescrPart ::=
                            "DESCRIPTION" value (description DisplayString)
                                 | empty
    
                 ReferPart ::=
                            "REFERENCE" value (reference DisplayString)
                                 | empty
    
                 IndexPart ::=
                            "INDEX" "{" IndexTypes "}"
                                 | empty
                 IndexTypes ::=
                            IndexType | IndexTypes "," IndexType
                 IndexType ::=
                                     -- if indexobject, use the SYNTAX
                                     -- value of the correspondent
                                     -- OBJECT-TYPE invocation
                            value (indexobject ObjectName)
                                     -- otherwise use named SMI type
                                     -- must conform to IndexSyntax below
                                 | type (indextype)
    
                 DefValPart ::=
                            "DEFVAL" "{" value (defvalue ObjectSyntax) "}"
                                 | empty
    
             END
    
             IndexSyntax ::=
                 CHOICE {
                     number
                         INTEGER (0..MAX),
                     string
                         OCTET STRING,
                     object
                         OBJECT IDENTIFIER,
                     address
                         NetworkAddress,
                     ipAddress
                         IpAddress
                 }
    
    END







**Original Posted Date**: 2010-01-20T02:50:31.033-08:00

**Copied from CodePlex without authors**:

Thanks lextm, that one compiles without error \- I had tried a few
implementations that I'd found on the net but there are a few differences

Thanks again!



**Original Posted Date**: 2010-01-20T02:58:28.487-08:00

**Marked as Answer Date**: 2013-10-06T21:24:25.097-07:00